.contenedor--parrafo--1 {
  color: white;
  width: 100vh;
}

.contenedor--parrafo--2 {
  color: white;
  width: 100vh;
}

.contenedor--parrafo--3 {
  color: white;
  width: 100vh;
}

nav {
  -webkit-filter: drop-shadow(4px 4px 4px #00000069);
          filter: drop-shadow(4px 4px 4px #00000069);
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.parrafo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 37.5px;
}

.card1 {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card1:hover {
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(8px 8px 8px #00000069);
          filter: drop-shadow(8px 8px 8px #00000069);
}

.shadow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-filter: drop-shadow(8px 8px 8px #00000069);
          filter: drop-shadow(8px 8px 8px #00000069);
  -webkit-animation: from-down 1.5s ease;
          animation: from-down 1.5s ease;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .contenedor--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vh;
  margin: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .contenedor--img .contenedor--img--radius {
  width: 300px;
  height: 300px;
  border-radius: 160px;
  margin: 5px;
}

.contenedor .contenedor--parrafo {
  margin: 5px;
}

@-webkit-keyframes from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes from-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes from-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes from-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */