nav {
  filter: drop-shadow(4px 4px 4px #00000069);
}

.card1 {
  transition: all 0.5s ease-in-out;
}

.card1:hover {
  filter: grayscale(30%);
  transform: scale(1.1);
  filter: drop-shadow(8px 8px 8px #00000069);
}

.shadow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  filter: drop-shadow(8px 8px 8px #00000069);
  animation: from-down 1.5s ease;
}

@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes from-down {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
