nav {
  filter: drop-shadow(4px 4px 4px #00000069);
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.titulo {
  display: flex;
  text-align: center;
  margin: 2rem 0 3rem 0;
}

.parrafo {
  display: flex;
  justify-content: center;
  font-size: $wcarta/4;
}
.card1 {
  transition: all 0.5s ease-in-out;
}

.card1:hover {
  filter: grayscale(30%);
  transform: scale(1.1);
  filter: drop-shadow($shadow);
}

.shadow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  filter: drop-shadow($shadow);
  animation: from-down 1.5s ease;
}

.contacto {
  display: flex;
  .contacto-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.form-control {
  width: 40vh;
}
.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;

  .contenedor--img {
    display: flex;
    width: 100vh;
    margin: 5px;
    justify-content: center;

    .contenedor--img--radius {
      width: $wcarta * 2;
      height: $hcarta * 2;
      border-radius: 160px;
      margin: 5px;
    }
  }

  .contenedor--parrafo {
    margin: 5px;
  }
}
